page_1 {

	ion-content {
		background: linear-gradient(90deg, #549e53, #5fb35d, #549e53);
		font-family: 'Gotham Book Regular';


		.scroll-content {
			text-align: center;

	    img {
				position: relative;
    		margin-top: 30%;
	    	width: 70%;
	    }
		}
	}

}
