datePicker {

	ion-content {
		background: linear-gradient(90deg, #549e53, #5fb35d, #549e53);

		.scroll-content {
			text-align: center;

	    img {
				position: relative;
    		top: 30%;
	    	width: 70%;
	    }
		}
	}

}
